* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    background-color:rgb(65, 62, 62);
}
.frame1 img{
    border-radius: 30%;
    background:rgba(255,255,255,0.5);
    padding: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.frame1 img:hover{
    border-radius: 100%;
    background:rgba(255,255,255,0.8);
    
}
.frame1 a:active{
    scroll-behavior: smooth;
}
.frame1 ul{
    list-style: none;
    width: 150px;
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    padding-top:60vh;
}
.frame1 ul li{
    background: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s;
    
}
#ativo{

    background: rgba(255, 253, 253, 0.4);
}

.frame1{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-size: cover;
    transition: 0.8s;
}

.frame1 .tarja{
    width: 100%;
}
.frame1 .nature{
    background:rgba(0,0,0,0.6);
    display: block;
    text-align: center;
    padding: 15px 0px;
    color:rgb(54, 119, 28);
}

.frame2{
    background-color: rgba(0, 0, 0, 0.7);
    padding:5% 5%;
    width: 100%;
    min-height: max-content+10px;
    align-items:center;
    display: flex;
}
.frame2 .item{
    background:rgba(0,0,0,0.6);
    background-size: cover;
    padding: 5px;
    color:rgba(139, 252, 94, 0.6);
}

.frame3{
    color:rgba(139, 252, 94, 0.6);
    background: rgba(0, 0, 0, 0.6);
    max-width: 100vw;
    height: max-content;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0px 20px;
    
}
.frame3 .leftbox{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.frame3 .leftbox img{
    border-radius: 50%;
}

.frame3 .rightbox{
    margin-left:auto ;
    margin-right:auto ;
    text-align: center;
    padding: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.frame4{
    background: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.frame4 img{
    
    border-start-end-radius: 10%;
    max-height: 30vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}
.frame4 .leftbox{
    align-items: center;
    padding: 3% 0px;
    display: flex;
    
}
.frame4 .rightbox{
    align-items: center;
    min-width: 312px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 3%;
}
.frame4 button{
    margin-top: 5px;
}

.frame5{
    background: rgba(0, 0, 0, 0.7);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: max-content;
    display: block;
    align-items: center;
    flex-direction: column;
    padding:3% 0px;
}

.rodape{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 10vh;
}
.rodape h1{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 20px;
}

.collapsible {
    background-color: rgba(95, 95, 95, 0.685);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(95, 95, 95, 0.466);
  }

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
form .nomeemail{
    display: flex;
}
h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #505050;
    background-color: #bfffb9e1;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #bfffb9e1;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 420px;
    height: 120px;
    line-height: 20px;
    max-width: 420px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}


/* Responsidividade */


@media screen and (max-width:1036px){
    .frame1{
    display:flex ;
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    /* min-height: 100vh; */
    }

    .frame3{
        display: block;
        max-height:100vh;
    }
}

@media screen and (max-width:680px){
    .frame4 .rightbox{
        min-width: 200px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 3% 0px;
    }
}

@media screen and (max-width:460px){
    .frame5 .nomeemail{
        display: block;
    }
    .frame5 textarea{
        max-width: min-content;
    }
}