* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    
    background-color:rgb(65, 62, 62);
    
}
.frame1 img{
    border-radius: 30%;
    background:rgba(255,255,255,0.5);
    padding: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.frame1 img:hover{
    border-radius: 100%;
    background:rgba(255,255,255,0.8);
    
}
.frame1 a:active{
    scroll-behavior: smooth;
}
.frame1 ul{
    list-style: none;
    width: 150px;
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    padding-top:60vh;
}
.frame1 ul li{
    background: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s;
    
}
#ativo{

    background: rgba(255, 253, 253, 0.4);
}

.frame1{
    
    /* background-color: rgb(110, 73, 17); */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-size: cover;
    transition: 0.8s;
}

/*1036 de largura pra bg responsivo*/
@media screen and (max-width:1036px){
    .frame1{
    display:flex ;
    background-position: center;

    }

}


.frame1 .nature{
    text-align: center;
    width: 100vw;
    background:rgba(0,0,0,0.6);
    padding: 15px 0px;
    color:rgb(54, 119, 28);
}
/* .frame2 h2,p{
    text-align: center;
    width: 20vw;
    background:rgba(0,0,0,0.6);
    padding: 15px 0px;
    color:rgb(54, 119, 28);
}  */

.frame2{
    /* padding: 15px 0px; */
    /* background:rgba(148, 31, 31, 0.5); */
    margin-left:25px;
    width: 95%;
    height: 50vh;
    align-items:center;
    display: flex;
}
.frame2 .item{
    background:rgba(0,0,0,0.6);
    padding: 5px;
    color:rgba(139, 252, 94, 0.6);
}
.frame2 p{
    text-align:justify;
    
}

.frame3{
    background-color: rgb(87, 87, 87);
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.frame3 .leftbox img{
    border-radius: 50%;
}
.frame3 .rightbox{
    
    padding: 20px;
}
.frame4{
    text-align: justify;
    max-width: 100%;
    height: 60vh;
    padding-left: 10%;
    padding-right: 10%;
}
.frame4 button{
    margin-top: 5px;
}

.frame5{
    background-color: rgb(71, 71, 71);
    width: 100vw;
    height: 40vh;
}
.rodape{
    background-color: rgb(44, 44, 44);
    width: 100vw;
    height: 10vh;
}
.rodape h1{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }