* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    
    background-color:rgb(65, 62, 62);
    
}
.principal .frame1 img{
    border-radius: 30%;
    background:rgba(255,255,255,0.5);
    padding: 10px 10px 10px 10px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.principal .frame1 img:hover{
    border-radius: 100%;
    background:rgba(255,255,255,0.8);
    
}
.principal .frame1 a:active{
    scroll-behavior: smooth;
}
.principal .frame1 ul{
    list-style: none;
    width: 150px;
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    padding-top:60vh;
}
.principal .frame1 ul li{
    background: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s;
    
}
#ativo{

    background: rgba(255, 253, 253, 0.4);
}

.principal .frame1{
    
    /* background-color: rgb(110, 73, 17); */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-size: cover;
    transition: 0.8s;
}

/*1036 de largura pra bg responsivo*/
@media screen and (max-width:1036px){
    body .principal .frame1{
    display:flex ;
    background-position: center;

    }

}


.frame1 .nature{
    text-align: center;
    width: 100vw;
    background:rgba(0,0,0,0.6);
    padding: 15px 0px;
    color:rgb(54, 119, 28);
}
.frame2 h2,p{
    text-align: center;
    width: 20vw;
    background:rgba(0,0,0,0.6);
    padding: 15px 0px;
    color:rgb(54, 119, 28);
} 

.principal .frame2{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow:hidden;
    
}
.frame2 {width: 600px;position: relative;}
.frame2 .nav{position: absolute;top: 0;display: table;background: cornflowerblue;color: black;}
.frame2 .nav:hover{display: table-cell;vertical-align: middle;}
.frame2 .nav.back{left:0;}
.frame2 .nav.forth{right:0;}
.frame2 ul li img{width: 50px;}
.carrossel{list-style: none; width: 1000%;}
.carrossel .item{float: left;width: 173px;padding:10px;margin-right: 10px;}

.principal .frame3{
    background-color: rgb(87, 87, 87);
    width: 100vw;
    height: 50vh;
}
.principal .frame4{
    width: 100vw;
    height: 60vh;
}
.principal .frame5{
    background-color: rgb(71, 71, 71);
    width: 100vw;
    height: 40vh;
}
.principal .rodape{
    background-color: rgb(44, 44, 44);
    width: 100vw;
    height: 10vh;
}
.principal .rodape h1{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 20px;
}